 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
 /* container width */
 .container {
     max-width: 1120px;
     margin: 0 auto;
 }

 /*  navmenu header */
 .header {
     background-color: #3D8D7A;
     padding: 10px;

 }

 /* navbar */

 .nav_bar {
     display: flex;
 }

 /* logo */

 #logo {
     max-width: 110px;
     margin-right: 10px;
     /* flex: 1 1 auto; */
 }

 /* navlist that is ul */

 .nav_list {
     flex: 1 1 auto;
     display: flex;
     justify-content: space-around;
     list-style-type: none;
 }

 #search {
     /* max-width: 300px; */
     flex: 2 1 auto;
 }

 /* navlinks */
 .nav_link,
 #logo {
     text-decoration: none;
     text-transform: capitalize;
     color: #FBFFE4;
 }

 .section_one , .section_two{
    background-color: #02303d;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 15px;

 }
 .section_two > div {
    flex: 1 1 auto;
    align-content: center;
    border: 2px solid #4e4f49;
    height: 250px;
 }

 .footer {
     background-color: #A3D1C6;
     /* position: absolute; */
     /* bottom: 0; */
     /* width: 100%; */
     display: flex;
     padding: 10px;
     flex-wrap: wrap;
 }


 .footer>div {
     flex: 1 1 220px;
     border: 2px solid #3D8D7A;
     margin: 0 10px;
     text-align: center;

 }

 .footer>div>ul>li {
     list-style-type: none;
 }

 .section_one {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
   
 }

 .signup-form {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    margin: 10px;
    border-radius: 15px;
    max-width: 500px;
    flex-wrap: wrap;
 }
.stay-updated p {
    
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  
}

.sign-form-img  {
    /* display: flex; */
    text-align: center;
}
.sign-form-img img {
    max-width: 100%;
}

.product-discovery::before{
    content: "*";
    margin-right: 10px;
    vertical-align: middle;
}

 @media (min-width:500px) {

     /* this will target above mobile device width (devices) */
     .footer>div>ul>li>a {
         color: #FBFFE4;
         /* color: #778816; */
         text-decoration: none;
         text-transform: capitalize;
     }

     .nav_link,
     #logo {
         text-decoration: none;
         text-transform: capitalize;
         color: #4e4f49;
         color: #FBFFE4;
     }


     .stay-updated , .sign-form-img {
        flex: 1 1 50%;
    }
 }